* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    min-height: 100vh;
}

grid {
    display: grid;        
    row {
        display: grid;
        grid-template-columns: repeat(auto-fill, [col-start] minmax(100px, 1fr) [col-end]);
    }
}